@charset "utf-8";
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,h1,h2,h3,h4,h5,h6,hr,fieldset,input{
	margin:0;
	padding:0;
}
* {
	margin: 0;
	padding: 0;
	border: none;
}

body{
	width:100%;
	height:100%;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border: none;
}
i{
	display: block;
}
.top{
    width: 100%;
    height: 627px;
}
.footer{
    height: 573px;
    width: 100%;
}
.content{
    width: 100%;
    background:#f6f6f6;
}
.content-first{
    width: 1100px;
	height: 385px;
	margin:0 auto;
	border-bottom:1px solid #eaeaea;
}
.content-first a{
	display: block;
	float:left;
    width:260px;
	height: 332px;
	margin:  17px 18px 36px 0;
}
.content-first a:nth-child(4){
	margin-right: 0;
}
.content-second{
	height: 486px;
	width:1100px;
	margin:0 auto;
	border-bottom:1px solid #eaeaea;
}
.aaa{
	padding-top:16px;
	height: 60px;
}
.aaa p{
	display: block;
	float:left;
	height: 48px;
	line-height: 48px;
}
.aaa p:nth-child(1){
	 font-size: 20px;
	 color:#333333;
	 font-weight: 600;
	 margin-right:12px;

}
.aaa p:nth-child(2){
	color:#999999;
	font-size:14px;
}
.aaa p:nth-child(3){
	float: right;
}
.aaa p:nth-child(3) a{
	display: block;
	float:left;
	color:#999999;
	font-size:16px;
}
.aaa p:nth-child(3) i{
	float:left;
	color:#999999;
	font-size:16px;
}
.aaa a:hover{
	text-decoration: underline;
}
.content-second-center{
	height: 380px;
	width: 1100px;
	background: #ffffff;
}
.second-center-left{
	float:left;
	height: 380px;
	width: 840px;

}
.second-center-left div{
	float: left;
	width:420px;
	height:190px;
	border-top: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	box-sizing:border-box;
}
.second-center-left ul a:hover{
	text-decoration: underline;
}
.second-center-left img{
	width: 188px;
	display: block;
	height: 188px;
	float:left;
}
.mind{
	border-bottom: 1px solid #f1f1f1;
}
.clothes{
	border-bottom: 1px solid #f1f1f1;	
}
.allsee{
	width:200px;
	height:188px;
	float:left;
	margin-left:15px;
}
.allsee li:nth-child(1){
	margin-top:11px;
    height:26px;
}
.allsee li:nth-child(1) a{
	display: block;
	height:26px;
	line-height:26px;
	font-size:18px;
	font-weight: 600;
	color:#333333;
}
.allsee li:nth-child(2){
	height: 40px;
	width: 200px;
}
.allsee li:nth-child(2) a{
    width: 200px;
	display: block;
	font-size:14px;
	color:#333333;
}
.allsee li:nth-child(3){
	height: 30px;
	width: 200px;
}
.allsee li:nth-child(3) span{
	height: 30px;
	line-height: 30px;
	display: block;
	float:left;
	color:#ff1e32;
	font-size: 20px;
}
.allsee li:nth-child(3) p{
	height: 30px;
	line-height: 30px;
	display: block;
	float:left;
	color:#999999;
	font-size: 14px;
	text-decoration: line-through;
}
.allsee li:nth-child(4){
	height: 38px;
	width: 200px;
}
.allsee li:nth-child(4) span{
	height: 30px;
	line-height: 30px;
	display: block;
	float:left;
	
}
.allsee li:nth-child(4) p{
	height: 38px;
	width: 82px;
	line-height: 38px;
	text-align: center;
	display: block;
	float:right;
	border:1px solid #ff3648;
	border-radius:20px;
}
.second-center-right{
	float:left;
	width: 260px;
	height: 380px;
	border: 1px solid #f1f1f1;
	box-sizing:border-box;
}
.content-third {
	height: 842px;
	width:1100px;
	margin:0 auto;
	border-bottom:1px solid #eaeaea;
}
.content-third-center {
	width: 1100px;
	height: 768px;
	display: flex;
	flex-wrap: wrap;
}
.content-third-center ul{
	width:260px;
	height:384px;
	margin-right: 18px;
}
.content-third-center ul:nth-child(4n){
	margin-right: 0;
}
.b-top{
	width: 260px;
	height: 260px;
	position: relative;
	background: gray;
}
.b-top p:nth-child(1){
	height: 24px;
	width: 260px;
	line-height: 24px;
	font-size:16px;
	color:#ffffff;
	text-indent: 20px;
	position: absolute;
	left:0;
	bottom: 45px;
}
.b-top p:nth-child(2){
	height:30px;
	width: 260px;
	line-height: 30px;
	font-size:22px;
	color:#ffffff;
	position: absolute;
	text-indent: 20px;
	left:0;
	bottom: 15px;
}
.b-top img{
	position: absolute;
	left:0;
	top:0;
	display: block;
	width: 260px;
	height: 260px;
	opacity: 0.6;
}
.b-top:hover{
	opacity: 0.8;
}
.b-bot a{
	display: block;
	width: 64px;
	height: 64px;
	border: 1px solid #f0f0f0;
	float:left;
	margin:8px;
}
.b-bot img{
	display: block;
	width: 64px;
	height: 64px; 
}
.b-bot p{
    margin-top:8px;
	width: 130px;
	height: 64px; 
	line-height: 64px;
	float:left;
}
.bb li:nth-child(1){
	width: 260px;
	height: 260px;
	border: 1px solid #f0f0f0;
	background: #ffffff;
	box-sizing: border-box;
}
.bb li:nth-child(1) img{
	display: block;
	width: 180px;
	height: 180px;
	margin: 0 auto;
	margin-top:40px;
}
.bbb a{
	display: block;
	width: 260px;
	height: 42px;
	margin-top:6px;
	line-height: 21px;
	margin-bottom:6px;
	color:#333333;
	font-size:16px;
	font-weight: 600;
}
.bbb p span:nth-child(1){
	 display: block;
	 float:left;
	 color:#ff1e32;
	 font-size: 24px;
	 height: 32px;
	 line-height: 32px;
}
.bbb p span:nth-child(2){
	 display: block;
	 float:left;
	 color:#999999;
	 font-size: 14px;
	 text-decoration: line-through;
	  height: 22px;
	 line-height: 22px;
	 margin-top:7px;
	  margin-left:7px;
}
.bb a:hover{
	cursor: pointer;
	text-decoration: underline;
}
.cc {
	width: 260px;
	height: 260px;
}
.cc img{
	display: block;
	width: 260px;
	height: 260px;
}
.ccc div{
	float:left;
	height: 40px;
	margin-top:8px;
}
.ccc p a{
	display: block;
	margin-top:8px;
	float:left;
	height: 40px;
	color: #333333;
	font-weight: 600;
}
.content-forth{
	width: 1100px;
	margin:0 auto;
	height: 460px;
	border-bottom:1px solid #eaeaea;
}
.icon-huanyipi:hover{
	transform: rotate(360deg);
	transition: transform 0.6s; 
}
.content-forth-bot{
	height: 352px;
	width: 1100px;
}
/* .dd{
	 float: left;
	 width: 219px;
	 height: 352px;
} */
 .J_banner{
	width: 219px;
	height: 355px;
	position:relative;
	overflow: hidden;
    float:left;     
}
.J_banner .imgs{
	width:219px;
	height: 355px;
	display: block;
	/* overflow: hidden; */
}
.imgs li{
	width:219px;
	float:left;
	height: 355px;
	overflow: hidden;
}
.ptext{
	width: 219px;
	height: 129px;
	background:gray;  
	filter:alpha(Opacity="80");  
	overflow: hidden;
}
.ptext1{
	margin-top:35px;
	height:28px;
	width: 219px;
	display: block;
	text-align: center;
	color: #f5ecee;
	font-size: 20px;
	line-height: 28px;
}
.ptext2{
	height:28px;
	line-height: 28px;
	width: 219px;
	display: block;
	text-align: center;
	color: #f5ecee;
	font-size: 16px;
}
.pointer{
	height:2px;
	position:absolute;
	top:220px;
}
.pointer li{
	width:73px;
	height:3px;
	background:#5a5a5a;
	float:left;
	cursor: pointer;
}
.pointer li.now{
	background:#eb0d23;
}
.J_banner .cut{
	width:30px;
	height:30px;
	font-size:18px;
	line-height:30px;
	position: absolute;
	font-family:'宋体';
	color:#fff;
	text-align:center;
	opacity:0.4;
	background: gray;
	top:120px;
}
.prev{
		left:0;
}
.next{
	right:0px;
}
.imgs  img{
	width: 219px;
	height: 219px;
}   
.ddd{
	float: left;
	width: 876px;
	height: 352px;
	display: flex;
	flex-wrap: wrap;
	border-top:1px solid #ececec;
	border-left:1px solid #ececec;
}
.ddd ul{
	width: 219px;
	height: 176px;
	background:#ffffff;
	border-bottom:1px solid #ececec;
	border-left:1px solid #ececec;
	box-sizing: border-box;
	position: relative;
}
.dc p:nth-child(1){
	width:50px;
	height:21px;
	border:1px solid #adadad;
	border-radius:10px;
	line-height:21px;
	text-align:center;
	font-size:14px;
	color:#adadad;
	position: absolute;
	left:8px;
	top:8px;
}
.abc{
	display: none;
}
.dc li{
	width: 96px;
	height: 96px;
	position: absolute;
	left:62px;
	top:25px;
	background: pink;
}
.dc li img{
	width: 96px;
	height: 96px;
}
.abcgive{
	width: 219px;
	height: 24px;
	position: absolute;	
	bottom:51px;
}
.abcgive a{
	display: block;
	width: 219px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color:#9f9f9f;
	font-size: 12px;
}
.abcent{
	width: 74px;
	height: 34px;
	position: absolute;
	left:65px;
	bottom:13px;
}
.abcent a{
	display: block;
	width: 74px;
	height: 34px;
	border:1px solid #ff3752;
	line-height: 34px;
	text-align: center;
	border-radius: 17px;
	font-size:14px;
	color:#ff2a47;
}
.dc span{
	display: block;
	width: 219px;
	height: 28px;
	position: absolute;
	bottom: 8px;
}
.dc span a{
	display: block;
	width: 219px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size:14px;
	color:#3c3c3c;
	font-weight: 600;
}

.content-fifth{
	width: 1100px;
	height: 894px;
	margin:0 auto;
	border-bottom: 1px solid #ebebeb;
}
.content-fifth-top p:nth-child(2){
	width: 630px;
}
.content-fifth-top p:nth-child(2) a{
	margin: 0 7px;
	color:#666666;
}
.content-fifth-center{
	width: 1100px;
	height: 541px;
}
.content-fifth-center div{
	float:left;
}
.content-fifth-center-left{
	width:330px;
	height:541px;
	background: url(../img/1ceteqcgr86_330_542.jpg) no-repeat top left;
	background-size:330px 541px;
	position: relative;
}
.content-fifth-center-left ul{
	width:306px;
	height:100px ;
	position: absolute;
	left:21px;
	bottom:21px;
}
.content-fifth-center-left ul li{
	width: 82px;
	height: 42px;
	border:1px solid #999999;
	box-sizing: border-box;
	border-radius: 21px;
	float: left;
	margin-right: 14px;
	margin-bottom:7px;
	background: #ffffff;
	text-align: center;
	line-height: 42px;
	font-size:14px;
	color:#333333;
}
.content-fifth-center-left ul li:hover{
	color:#eb0d23;
}
.content-fifth-center-center{
	width:550px;
	height: 540px;
	border-top:1px solid #ebebeb;
}
.content-fifth-center-center li{
	float:left;
	width:275px;
	height:270px;
	border-right:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	box-sizing: border-box;
	background: #ffffff;
}
.content-fifth-center-center li h4{
	margin-top:30px;
	height:30px;
	width: 275px;
	line-height: 30px;
	font-size:24px;
	font-weight: 100;
	color:#333333;
	text-align: center;
	cursor: pointer;
}
.content-fifth-center-center li h6{
	height:30px;
	width: 275px;
	line-height: 30px;
	font-size:14px;
	font-weight: 100;
	color:#898989;
	text-align: center;
	margin: 6px 0;
	cursor: pointer;
}
.content-fifth-center-center li img{
	width:188px;
	height: 144px;
	margin:0 auto;
	display: block;
}
.content-fifth-center-right{
	width: 219px;
	height: 540px;
	border:1px solid #ebebeb;
	border-left:none;
	box-sizing: border-box;
	background: #ffffff;
}
/* 轮播图 */
  .swiper-container {
        width: 219px;
		height: 540px;
		border:1px solid #ebebeb;
		border-left:none;
		box-sizing: border-box;
		background: #ffffff;
		padding-top: 60px;
	}  
	.newPorduct{
    	width: 219px;
		height: 540px;
		position:relative;
    }
    .swiper-slide{
      width: 219px;
      height: 480px;
	}
	.swiper-wrapper{
	width: 219px;
      height: 480px;

	}
    .porductList{
      width:219px;
      position: relative;
      height: 540px;
      overflow: hidden;
    }
    .swiper-pagination{
    	width: 219px;
		height: 50px;
		position: absolute;
		left: 0;
		top:0;
    }
    .swiper-pagination-bullet-active{
      
      background:black;
    }
    .swiper_ul li{
    	height: 120px;
    	width: 219px;
    	border-bottom:1px dashed #ebebeb;
    	box-sizing: border-box;
    }
    .swiper_ul li:first-child{
    	border-top:1px solid #ebebeb;
    }
    .swiper_ul li:last-child{
    	border-bottom:none;
    }
    .swiper_ul li img{
    	height: 75px;
    	width: 75px;
    	display: block;
    	float:left;
    	margin-top:22px;
    	float:left;
    }
    .swiper_ul li h4{
    	width: 144px;
    	margin-top:22px;
    	height: 75px;
    	float:left;
    	font-weight: 100;
    }
    .swiper_ul li h4 a{
    	width: 120px;
    	height: 40px;
    	line-height: 20px;
    	color:#666666;
    	font-size:12px;
    }
    .swiper_ul li h4 a:hover{
    	text-decoration: underline;
    }
    .swiper_ul li h4 span{
    	display: block;
    	width: 120px;
    	height: 35px;
    	
    }
    .swiper_ul li h4 span h5{
    	float:left;
    	width: 60px;
    	height: 35px;
    	line-height: 35px;
    	color:#ff1e32;
    	font-weight:100;
    	font-size: 18px;
    }
    .swiper_ul li h4 span h6{
    	float:left;
    	width: 60px;
    	height: 35px;
    	line-height: 35px;
    	color:#999999;
    	font-weight: 100;
    	text-decoration: line-through;
    }







.content-fifth-bot{
	width:1100px;
	height: 219px;
	border: 1px solid #ebebeb;
	box-sizing: border-box;
	margin: 20px auto 40px;
	background: #ffffff;
}

.content-fifth-bot p{
	width: 1100px;
	height: 49px;
	border-bottom: 1px solid #ebebeb;
	line-height: 49px;
	font-weight: 600;
	color:#000000;
	font-size:16px;
	text-indent: 20px;
}
.content-fifth-bot ul {
	height: 167px;
	width: 1100px;
}
.content-fifth-bot ul a{
	display: block;
	height: 167px;
	width: 220px;
	float:left;
	border-right: 1px solid #ebebeb;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
}
.content-fifth-bot ul i{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top:15px;
	right: 7px;
	color:#ff1e32;
	font-size:16px;
	display: none;
}
.content-fifth-bot ul a:hover i{
	display: block;
}
.content-fifth-bot ul a:nth-child(5){
	border-right: none;
}

.content-fifth-bot ul a img{
	display: block;
	width:120px;
	height: 120px;
	margin: 22px auto;
}

.floor-right{
	position: fixed;
	top:65px;
	right:45px;
	background:#ffffff ;
	width:64px ;
	height:243px ;
	border:1px solid #eaeaea;
	display: none;
}
.floor-right li{
	width:64px ;
	height: 60px;
	border-bottom:1px solid #eaeaea;
	overflow: hidden;
}
.floor-right li:nth-child(4){
	border-bottom: none;
}
.floor-right li i{
	margin-top:10px;
	height: 26px;
	width: 64px;
	font-size:26px;
	line-height: 26px;
	text-align: center;
	color: #eaeaea;
}
.floor-right li a{
	height: 24px;
	width: 64px;
	line-height: 24px;
	display: block;
	text-align: center;
	color:#333333;
	font-size: 14px;
}
.floor-right li:nth-child(1){
	position: relative;
}
.floor-right li:hover{
	background:#f6f6f6;	
}
.floor-right li:hover i{
   color:#ff1e32;
}
.floor-right li:hover a{
   color:#ff1e32;
}
.floor-left{
	width: 99px;
	height: 557px;
	position: fixed;
	top:65px;
	left:10px;
	background:#ffffff ;
	display: none;
}
.floor-left p{
	width: 99px;
	height: 49px;
	border-bottom:1px solid #eaeaea;
}
.floor-left li{
	border-right:1px solid #eaeaea;
	border-left:1px solid #eaeaea;
		box-sizing: border-box;
}
.floor-left img{
	width: 99px;
	height: 49px;
}
.a1{
	width: 99px;
	height: 50px;
	border-top: none;
	box-sizing: border-box;
	font-weight: 600;
	color:#333333;
	line-height: 50px;
	text-align: center;
	border-bottom:1px solid #eaeaea;
}
.a2{
	width: 99px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color:#999999;
	font-size: 12px;
 }
.floor-left div img{
	display: block;
		width: 99px;
	height: 128px;
	box-sizing: border-box;
}
.floor-left .act{
	background:#f5f5f5;
	color:#ff1e32;
}
