@charset "utf-8";
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,h1,h2,h3,h4,h5,h6,hr,fieldset,input{
	margin:0;
	padding:0;
}
* {
	margin: 0;
	padding: 0;
	border: none;
}

body{
	width:100%;
	height:100%;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border: none;
}
i{
	display: block;
}
.top{
    width: 1000px;
    height:100px;
    background: #ffffff;
    margin: 0 auto;
    overflow: hidden;
}
.top a:first-child{
    display: block;
    margin-top:17px;
    width:330px;
    height:65px;
    float: left;
}
.top a:first-child img{
    width: 210px;
    height: 65px; 
}
.top a:last-child{
    display: block;
    width:540px;
    height:100px;
    float: right;
}
.bottom{
    width: 100%;
    height: 254px;   
    background:#ffffff;
    overflow: hidden;
}
.reg-con{
     margin: 40px auto 0;
     width: 1100px;
     height: 115px;
}
.reg-list{
    height: 29px;
    width: 100%;
}
.reg-list  a{
    display: block;
    float:left;
    padding:0 20px;
    font-size:14px;
    color:#666666;
    background: url(../img/reg13.png) no-repeat right center;
}
.reg-list  a:last-child{
    background: none;
}
.reg-licence{
     height:24px;
}
.reg-licence span{
    font-size:12px;
    line-height: 24px;
    height: 24px;
    display: block;
    float:left;
    color:#999999;
}
.reg-licence span:first-child{
    margin-left:210px;
    margin-right:50px;
}
.reg-licence a{
    margin-left:20px;
    display: block;
    float:left;
    line-height: 24px;
    height: 24px;
    font-size:12px;
    color:#666666;
}
.pact{
    width: 100%;
    height: 32px;
}
.pact a{
    color:#999999;
    font-size:12px;
    height: 32px;
    line-height: 32px;
}
.pact span{
    color:#999999;
    font-size:12px;
    height: 32px;
    line-height: 32px;
    margin: 0 20px;
}
.pact a:first-child{
     margin-left:182px;
}
.picture{
    width: 100%;
    height: 32px;
}
.picture a:first-child img{
    display: block;
    float:left;
    height: 32px;
    width: 80px;
    margin-left:500px;
    margin-right: 20px;
}
.picture a:last-child img{
    display: block;
    float:left;
    height: 32px;
}
/* 中间部分 */
.center{
    height: 520px;
    width: 100%;
    background:#f8f8f8;
    border-top:1px solid #eaeaec;
    box-sizing: border-box;
}
.content-reg{
    width: 1000px;
    height: 520px;
    margin:0 auto;
    
}
.content-reg-left{
    width: 400px;
    height: 280px;
    float:left;
    display: block;
    margin-top:120px;
}
.content-reg-left img{
    display: block;   
}
.content-reg-right{
    width: 350px;
    height: 366px;
    float: right;
    margin-top:66px;
    margin-right: 40px;
    border: 1px solid #ececec;
}
.wel-reg{
    width: 350px;
    height:53px ;
    line-height: 53px;
    border-bottom: 1px solid #ececec;
}
.wel-reg p{
    height:53px;
    width: 50%;
    float:left; 
    text-align: center;
    color:#e31436;
    line-height: 53px;
    font-size:16px;
    font-weight: 600;
}
.active{
    border-bottom: 2px solid #e31436;
}







.reg-inf{
    width: 270px;
    height: 270px;
    padding:0 40px;
    background: #ffffff;
    overflow: hidden;
}
.reg-inf form{
    margin-top:35px;
    width: 270px;
    height: 240px;
    position: relative;
}

.btn01{
    width: 270px;
    height: 36px;
    border: 1px solid #9b9999;
    background: url(../img/ursicon.png) no-repeat -23px -24px; 
}
.btn01 input{
    margin-left:40px;
    margin-top:3px;
    width:180px;
    height: 30px;
    border: 0;
    outline: none;
    line-height: 30px;
}
.cuowu{
    float:right;
    width: 36px;
    height: 36px;
    background: url(../img/ursicon1.png) no-repeat -143px -82px; 
}
.btn02{
    margin-top:15px;
    width: 270px;
    height: 36px;
    border: 1px solid #9b9999;  
}
.btn02 span{
    width: 40px;
    height: 36px;
    display: block;
    float: left;
    background: url(../img/ursicon.png) no-repeat -56px -24px; 
}
.btn02 input{
    margin-top:3px;
    width:180px;
    height: 30px;
    border: 0;
    outline: none;
    line-height: 30px;
}

.btn03 {
    width: 270px;
    height: 28px;
    position: absolute;
    top:91px;
}
.btn03 span{
    display: block;
    float:left;
    width: 40px;
    height: 28px;
    background: url(../img/ursicon1.png) no-repeat -203px -27px;  
}
.btn03 p{
    float:left;
    width: 230px;
    height: 28px;
    line-height: 28px;
    font-size:14px; 
    color:#e31436;
}

.btn04{
    width:270px;
    height: 36px;
    background: #fb2549;
    display: block;
    margin-top:30px;
}
.btn04 input{
    width:270px;
    height: 36px;
    background: none;
    height: 36px;
    line-height: 36px;
    color:#ffffff;
    border:0;
    outline: none;
    font-size:16px;
}



.btn05{
    width: 270px;
    height: 32px;
}
.btn05 a{
    margin-left:127px;
    color:#9f9f9f;
    font-size: 12px;
    line-height: 32px;
}
.btn05 label{
    color:#9f9f9f;
    font-size: 12px;
    line-height: 32px;
}
.btn06{
    margin-top:15px;
    width: 270px;
    height: 36px;
    border: 1px solid #9b9999;  
}
.btn06 span{
    width: 40px;
    height: 34px;
    display: block;
    float: left;
    background: url(../img/ursicon.png) no-repeat 8px -29px; 
}
.btn06 input{
    margin-top:3px;
    width:180px;
    height: 30px;
    border: 0;
    outline: none;
    line-height: 30px;
}
.btn07{
    margin-top:15px;
    width: 270px;
    height: 36px;
    border: 1px solid #9b9999;  
}
.btn07 span{
    width: 40px;
    height: 36px;
    display: block;
    float: left;
    background: url(../img/ursicon.png) no-repeat -56px -24px; 
}
.btn07 input{
    margin-top:3px;
    width:180px;
    height: 30px;
    border: 0;
    outline: none;
    line-height: 30px;
}

.shoujilogin{
    width: 270px;
    height: 270px;  
}
.emaillogin{
    width: 270px;
    height: 270px;
     display: none;
}
.reg-inf-bott{
    height: 32px;
    width: 350px;
    background: #f8f8f8;
}
.reg-inf-bott li:first-child{
    margin-left:40px;
    width: 120px;
    height: 32px;
    float:left;
}
.reg-inf-bott li:first-child a{
    margin-top:8px;
    float:left;
    width: 28px;
    height: 22px;
    display: block;
}
.reg-inf-bott li:first-child a:nth-child(1){
    background: url(../img/ursicon2.png) no-repeat -759px -401px;
}
.reg-inf-bott li:first-child a:nth-child(2){
    background: url(../img/ursicon2.png) no-repeat -790px -401px;
}
.reg-inf-bott li:first-child a:nth-child(3){
    background: url(../img/ursicon2.png) no-repeat -819px -401px;
}
.reg-inf-bott li:first-child a:nth-child(4){
    background: url(../img/ursicon2.png) no-repeat -855px -401px;
}
.reg-inf-bott li:last-child{
    float: right;
    width: 130px;
    height: 42px;
    margin-right: 40px;
}
.reg-inf-bott li:last-child  a{
   width: 90px;
    height: 42px;
    line-height: 42px;
    display: block;
    color:#e31436;
    font-size:14px;
    float:left; 
}
.reg-inf-bott li:last-child  span{
    float:left;
     background: url(../img/ursicon2.png) no-repeat -892px -401px;
     display: block;
     width: 30px;
     height: 22px;
     margin-top:8px;
}